##
## This file is licensed under the MIT License.
## SPDX-License-Identifier: MIT
##
## Copyright (C) 2022, Advanced Micro Devices, Inc.
##

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# From LLVM/CIRCT
/build*
/install*
.vscode
.idea
compile_commands.json
.cache/
*~
.DS_Store
__pycache__
lit.site.cfg.py

# Pip artifacts
/lib/Bindings/Python/build
*.egg-info
*.whl

# External software
/ext
